@import "@/styles/main";

.bottomBarWrapper {
  position: fixed;
  bottom: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  width: 100%;

  .bottomBarContainer {
    position: absolute;
    bottom: -100px;
    padding: 10px 20px;
    background: rgb(var(--theme-bg) / 70%);
    border: var(--theme-card-border);
    border-radius: 25px;
    box-shadow: var(--shadow-sm);
    backdrop-filter: blur(5px);
    transition: bottom 0.2s ease-out;

    nav {
      ul {
        display: flex;
        gap: 50px;
        align-items: center;
        justify-content: center;
        color: var(--theme-text-color);
        font-weight: 600;
        font-size: 14px;
      }
    }

    @include media(tablet) {
      bottom: 20px;
    }
  }

  .goToTopBtn {
    position: absolute;
    right: 20px;
    bottom: -100px;
    padding: 10px;
    background: rgb(var(--theme-bg) / 70%);
    border: var(--theme-card-border);
    border-radius: 25px;
    box-shadow: var(--shadow-sm);
    backdrop-filter: blur(5px);
    transition: bottom 0.2s ease-out;
    color: var(--theme-text-color);

    @include media(tablet) {
      bottom: 25px;
    }
  }
}