@import "@/styles/main";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: var(--max-width);
  margin-top: 150px;

  .artworkContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
    border-radius: 20px;
  }

  .heroTextContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }

  .heroText {
    position: relative;
    z-index: 2;
    padding: 0;
    color: var(--theme-text-color);
    font-weight: 700;
    font-size: 48px;
    line-height: 1;
    letter-spacing: -1.5px;
    text-align: justify;

    //overflow-wrap: break-word;

    span {
      //white-space: nowrap;
      //margin: 0 auto;
      padding-right: 8px;
      overflow: hidden;

      //color: #f6f5f1;
      color: transparent;
      background-image: linear-gradient(
                      to right,
                      var(--theme-text-color) 15%,
                      var(--theme-accent) 70%
      );
      background-clip: text;
      background-clip: text;
      border-right: .15em solid var(--theme-accent);

      //animation: typing 2s steps(30, end),
      animation: blink-caret .75s step-end infinite;
      -webkit-text-fill-color: transparent;

      &::before {
        //background-color: #2a2828;
        position: absolute;
        top: 57px;
        z-index: -1;
        width: 100%;
        height: 45px;
        transform: translate(-8px, 4px);
        content: "";
      }
    }

  }

  .box {
    width: 1024px;
    height: 1024px;
    border: #b05444 solid 1px;
  }


  .backdropWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  @include media(tablet) {
    margin-top: 80px;

    .heroTextContainer {
      justify-content: center;
    }

    .heroText {
        font-size: 36px;
      text-align: center;
    }
  }

}


@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  0%, 100% {
    border-color: transparent
  }

  50% {
    border-color: var(--theme-accent);
  }
}
