@import "@/styles/main";

$border-radius: 15px;

.card {
  display: grid;
  grid-template-columns: 1fr 60px;
  justify-content: space-between;
  height: 180px;
  padding: 8px;

  //background: var(--theme-card-bg);
  background: var(--theme-bg-off);
  border: var(--theme-card-border);

  //width: 350px;

  border-radius: $border-radius;
  cursor: pointer;


  &:hover {
    //border: var(--theme-accent) 1px solid;
    //transition: border 0.2s ease-out;
    svg {
      color: var(--theme-accent);
      transform: translateX(15px);
    }

    .cardBody {
      h3 {
        color: var(--theme-accent);
        opacity: 1;
      }
    }
  }


  a {
    text-decoration: none;
  }

}

.cardBody {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;

  //border: solid 1px mediumpurple;


  padding: 15px;

  h3 {
    margin: 0;
    padding: 0;
    color: var(--theme-milder-text-color);
    font-weight: 700;
    font-size: .8rem;
    opacity: 0.6;
    transition: color 0.2s ease-out;
  }

  h2 {
    margin: 0.4rem 0 0;
    padding: 0;
    color: var(--theme-text-color);
    font-weight: 600;
    font-size: 1.4rem;
  }

  p {
    color: var(--theme-milder-text-color);
    font-weight: 500;
    font-size: 0.9rem;
  }

}


.iconDiv {
  display: flex;

  svg {
    width: 45px;
    height: 45px;
    color: var(--theme-milder-text-color);
    transition: transform 0.3s ease-out;
  }

}