@import "../abstracts/mixins";

@mixin section-header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin: 40px 0;

  h1 {
    margin: 0 10px;
    padding: 0;
    color: var(--theme-text-color);
    font-weight: 700;
    font-size: 46px;
    line-height: 1;
    letter-spacing: -1.5px;
  }

  p {
    color: var(--theme-mild-text-color);
    font-size: 16px;
  }

  @include media(tablet) {
    h1 {
      font-size: 36px;
    }

    p {
      text-align: center;
    }
  }
}