@import "@/styles/main";

.contactSection {
  @include section-wrapper;

  position: relative;
  margin-bottom: 200px;
  padding-top: 200px;
}

.headerContainer {
  @include section-header;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  max-width: 200px;
  margin: 50px auto;
}

.button {
  @include button-dark-lg;

  justify-content: center;
  width: 100%;
  text-decoration: none;
}

.icon {
    width: 22px;
    color: var(--theme-focal-text-color);
    cursor: pointer;
    fill: var(--theme-focal-text-color);
}