@import "@/styles/main";

.wrapper {
  position: fixed;
  z-index: 3;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 var(--global-padding);
  border-bottom: var(--theme-card-border);
}

.container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  width: 100%;
  max-width: var(--max-width);
  height: 100px;

  .logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 15px;
    cursor: pointer;

    a {
      color: var(--theme-text-color);
      font-weight: 900;
      font-size: 15px;
      letter-spacing: -.6px;
      text-decoration: none;
    }
  }

  .navigation {
    display: flex;
    justify-content: center;
    user-select: none;

    li {
      position: relative;
      display: flex;
      align-items: center;
      height: 30px;
      padding: 0 35px;
      list-style-type: none;
      cursor: pointer;

      a {
        color: var(--theme-text-color);
        font-weight: 700;
        text-decoration: none;
      }

    }
  }

  .highlight {
    position: absolute;
    right: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    margin: 0 30px;
    border-bottom: solid 2px var(--theme-text-color);
  }

  .right {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: flex-end;

    .brands {
      width: 22px;
      color: var(--theme-text-color);
      cursor: pointer;
      fill: var(--theme-text-color);
    }
  }

  @include media(tablet) {
    display: flex;
    justify-content: space-between;
    height: 60px;

    .navigation {
      display: none;
    }
  }
}

.background {
  position: absolute;
  top: 0;
  z-index: -2;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, var(--theme-bg) 15%, transparent);
  backdrop-filter: blur(5px);

  //-webkit-mask-image: -webkit-gradient(linear, left 80%, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)))
}

.hamburgerIcon {
  z-index: 14;
  display: none;
  gap: 3.2px;
  align-items: center;
  justify-content: center;
  padding: 12.8px;
  border-radius: 8px;
  transition: background-color 0.2s ease-in-out;

  @include media(tablet) {
    display: grid;
  }

  .line {
    width: 15px;
    height: 2px;
    background: var(--theme-text-color);
    border-radius: 10px;
    transition: transform 0.3s ease-out, opacity 0.2s cubic-bezier(.6, .08, .51, 1.31);
  }

  &.opened {
    //background: var(--accent-mild);

    .line:first-child {
      background: var(--theme-text-color);
      transform: rotate(45deg) translate(3px, 4px);
    }

    .line:nth-child(2) {
      background: var(--theme-text-color);
      opacity: 0;
    }

    .line:last-child {
      background: var(--theme-text-color);
      transform: rotate(-45deg) translate(3px, -4px);
    }
  }
}
