$--theme-bg: --theme-bg;
$--theme-bg-off: --theme-bg-off;
$--theme-text-color: --theme-text-color;
$--theme-mild-text-color: --theme-mild-text-color;
$--theme-milder-text-color: --theme-milder-text-color;
$--theme-mild-backing: --theme-mild-backing;
$--theme-accent: --theme-accent;
$--theme-accent-hover: --theme-accent-hover;
$--theme-focal: --theme-focal;
$--theme-focal-text-color: --theme-focal-text-color;
$--theme-mild-focal: --theme-mild-focal;
$--theme-mild-focal-text-color: --theme-mild-focal-text-color;
$--theme-card-bg: --theme-card-bg;
$--theme-card-border: --theme-card-border;
$--theme-article-header-color: --theme-article-header-color;
$--theme-article-text-color: --theme-article-text-color;
$--theme-article-link-color: --theme-article-link-color;
$--theme-bullet-image: --theme-bullet-image;