$--theme-bg: --theme-bg;
$--theme-text-color: --theme-text-color;
$--theme-mild-text-color: --theme-mild-text-color;
$--theme-mild-backing: --theme-mild-backing;
$--theme-accent: --theme-accent;
$--theme-focal: --theme-focal;
$--theme-focal-text-color: --theme-focal-text-color;
$--theme-mild-focal: --theme-mild-focal;
$--theme-mild-focal-text-color: --theme-mild-focal-text-color;