$theme-map-light: (
        $--theme-bg: #fff,
        $--theme-text-color: #394c4f,
        $--theme-mild-text-color: #707070,
        $--theme-mild-backing: #eaeaea,
        $--theme-accent: #b05444
);

$theme-map-dark: (
        $--theme-bg: #1c1c1c,
        $--theme-text-color: #f1f1f1,
        $--theme-mild-text-color: #8d8d8c,
        $--theme-mild-backing: #282828,
        $--theme-accent: #ec309b
)