$theme-map-light: (
        $--theme-bg: #fff,
        $--theme-text-color: #394c4f,
        $--theme-mild-backing: #dedede,
        $--theme-accent: #b05444
);

$theme-map-dark: (
        $--theme-bg: #1c1c1c,
        $--theme-text-color: #fff,
        $--theme-mild-backing: #3f3f3f,
        $--theme-accent: #ec309b
)