$theme-map-light: (
        $--theme-bg: #fff,
        $--theme-bg-off: #f8f8f8,
        $--theme-text-color: #4b4e4f,
        $--theme-mild-text-color: #707070,
        $--theme-milder-text-color: #939393,
        $--theme-mild-backing: #eaeaea,
        $--theme-accent: #b05444,
        $--theme-accent-hover: #d76a5a,
        $--theme-focal: #2c2c2c,
        $--theme-focal-text-color: #eaeaea,
        $--theme-mild-focal: #5e5e5e,
        $--theme-mild-focal-text-color: #f6f6f6,
        $--theme-card-bg: linear-gradient(140deg, #f8f8f8 40%, #f1f0f0 80%),
        $--theme-card-border: 1px solid rgba(236, 236, 236, 0.7),
        $--theme-article-header-color: #252525,
        $--theme-article-text-color: #606563,
        $--theme-article-link-color: #bb492f,
        $--theme-bullet-image: url('/icons/bullet-light.svg'),
);

$theme-map-dark: (
        $--theme-bg: #111111,
        $--theme-bg-off: #181818,
        $--theme-text-color: #f1f1f1,
        $--theme-mild-text-color: #939393,
        $--theme-milder-text-color: #707070,
        $--theme-mild-backing: #333333,
        $--theme-accent: #078dff,
        $--theme-accent-hover: #0c71d0,
        $--theme-focal: #0d73c9,
        $--theme-focal-text-color: #eeeeee,
        $--theme-mild-focal: #afafaf,
        $--theme-mild-focal-text-color: #181818,
        $--theme-card-bg: linear-gradient(140deg, #1c1c1c 20%, #101010 100%),
        $--theme-card-border: 1px solid rgba(33, 33, 33, 0.7),
        $--theme-article-header-color: #d7d7d7,
        $--theme-article-text-color: #bec0c0,
        $--theme-article-link-color: #078dff,
        $--theme-bullet-image: url('/icons/bullet-dark.svg'),
)