@import "@/styles/main";

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;

}

:root {
  @include spread-map($theme-map-light);
}

html[data-theme="light"] {
  @include spread-map($theme-map-light);
}

html[data-theme="dark"] {
  @include spread-map($theme-map-dark);
}

//@media (prefers-color-scheme: dark) {
//  :root {
//    --bg: #1c1c1c;
//  }
//}

html, body {
  animation: fadeInAnimation ease 600ms 200ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  max-width: 100vw;
  overflow-x: hidden;
  background: var($--theme-bg);
}

.no-scroll {
  overflow: hidden;
}

@include for-phone-only() {
  html, body {
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

button {
  all: unset;
  cursor: pointer;
}

