.clock-loader {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 48px;
  background: radial-gradient(ellipse at center, #FF3D00 0%, #FF3D00 14%, #FFF 15%, #FFF 100%);
  background-color: #FFF;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.clock-loader::after,
.clock-loader::before {
  position: absolute;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  width: 4px;
  height: 16px;
  background: #FF3D00;
  transform: translateX(-50%) rotate(0deg);
  transform-origin: 25% 0;
  animation: rotation 10s linear infinite;
  content: '';
}

.clock-loader::before {
  width: 2px;
  height: 22px;
  transform: translateX(-50%) rotate(0deg);
  animation-duration: 1s;
}

@keyframes rotation {
  0%    { transform: rotate(0deg)}
  100%  { transform: rotate(360deg)}
}