@import "@/styles/main";

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 600px;
  padding: 20px 30px;
  position: relative;
  margin-top: 100px;

  color: var(--theme-text-color);
  width: 100%;
  max-width: var(--max-width);


  .scrollReference {
    position: absolute;
    top: -100px;
  }

  .headerContainer {
    @include section-header;
  }

  .projectsGrid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px 15px;

    @include media(medium) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media(tablet) {
      grid-template-columns: 1fr;
      row-gap: 10px;
    }
  }

  .cardWrapper {
    position: relative;
  }

  .card {
    display: flex;
    position: relative;
    width: 100%;
    background: var(--theme-card-bg);
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    height: 450px;
    gap: 10px;
    cursor: pointer;
    padding: 25px 20px;
    border: var(--theme-card-border);
    boxShadow: "0 1px 1px hsl(0deg 0% 0% / 0.075), 0 2px 2px hsl(0deg 0% 0% / 0.075), 0 0px 4px hsl(0deg 0% 0% / 0.075), 0 0px 8px hsl(0deg 0% 0% / 0.075)";

    h2 {
      font-size: 20px;
      font-weight: 700;
      color: var(--theme-text-color);
      margin: 10px 0 0 0;
      padding: 0;
    }

    p {
      font-size: 15px;
      font-weight: 400;
      color: var(--theme-mild-text-color);
      margin: 0;
      padding: 0;
    }

    &.expanded {
      position: absolute;
      //border: 1px solid var(--theme-text-color);
    }


  }

  .thumbnail {
    width: 100%;
    height: 250px;
    //object-fit: cover;
    border-radius: 15px;
    background: var(--theme-mild-backing);

  }

  .tags {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 80px;
    gap: 4px 6px;
    margin: 3px 0 10px 0;

    span {
      font-size: 12px;
      font-weight: 400;
      color: var(--theme-text-color);
      background-color: var(--theme-mild-backing);
      padding: 5px 10px;
      border-radius: 14px;
    }
  }

  .descriptionContainer {
    display: flex;
    height: 150px;
    overflow: auto;
  }

  .buttons {
    display: flex;
    margin: 10px 0 0 0;
    gap: 10px;

    button {
      @include button-dark;
    }
  }

  .icon {
    width: 18px;
    height: 20px;
    fill: var(--theme-text-color);
  }

}
