.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 256px 0 0 0;
  min-height: 100vh;
  position: relative;

  @media (max-width: 800px) {
    padding: 200px 0 0 0;
  }
}


.loader {
  position: absolute;
  color: var(--theme-article-header-color);
  display: flex;
}

/* HTML: <div class="loader"></div> */
.progressBar {
  width: 100px;
  height: 15px;
  border-radius: 20px;
  color: var(--theme-mild-text-color);
  border: 1px solid;
  position: relative;
}

.progressBar::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: l6 .5s forwards;
}

@keyframes l6 {
  100% {
    inset: 0
  }
}

.leftBar {
  position: fixed;
  left: 10px;
  padding: 30px;


  display: flex;
  flex-direction: column;
  gap: 6px;

  font-size: 16px;
  font-weight: 500;

  a {
    text-decoration: none;
    color: var(--theme-milder-text-color);
  }

}

.linksDiv {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (max-width: 1200px) {
    display: none;
  }
}

.linkDiv {
  display: flex;
  gap: 12px;
  align-items: center;
  font-size: 15px;

  transition: color 0.4s ease-out;

  svg {
    width: 20px;
    height: 20px;
  }

  &:hover {
    color: var(--theme-accent);
  }
}



.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 700px;
  margin-bottom: 300px;
  line-height: 1.618;
  color: var(--theme-article-text-color);

  @media (max-width: 800px) {
    width: 100%;
    padding: 0 20px;
  }

  a {
    text-decoration: none;
    color: var(--theme-article-link-color);
    border-bottom: var(--theme-article-link-color) 1px solid;
    font-weight: 600;
  }

  strong {
    font-weight: 600;
    color: var(--theme-article-header-color);
  }

  .backButton {
    display: inline-flex;
    width: auto;
    align-items: center;
    font-size: .95rem;
    font-weight: 500;
    color: var(--theme-mild-text-color);
    margin: 0;
    padding: 0;
    transition: color 0.2s ease-out;

    &:hover {
      color: var(--theme-accent);

      svg {
        transform: translateX(-6px);
      }
    }

    svg {
      transition: transform 0.3s ease-out;
      margin-right: 2px;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    color: var(--theme-article-header-color);
    line-height: 1.5;
  }

  h1 {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: .1px;
    margin: 0.5rem 0 2rem 0;
    //margin: 1rem 0 1rem 0;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1.8rem 0 0.4rem 0;
  }

  h3 {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 1.8rem 0 0.4rem 0;
  }

  h4 {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
  }

  p {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.9;
    margin: 1rem 0 1rem 0;
    color: var(--theme-article-text-color);

    a {
      font-weight: 600;
      color: var(--theme-article-link-color);
      border-bottom: var(--theme-article-link-color) 1px solid;
    }
  }

  img {
    width: 100%;
    border-radius: 8px;
    margin: 1.5rem 0 1.5rem 0;
  }

  ul {
    margin: .5rem 0 .3rem 0;
    padding: 0 2rem 0 2rem;
    list-style: disc;
    list-style-position: outside;

    li {
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.9;
      margin: 0.3rem 0 0.3rem 0;
      color: var(--theme-post-text-color);
    }


  }



  blockquote {
    margin: 1rem 0 1rem 0;
    padding: 1.5rem 2rem 1rem 2rem;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: 500;
    background: var(--theme-bg-off);

    h4 {
      font-size: 1rem;
      font-weight: 550;
      margin: 1rem 0 0 0;
      width: auto;
    }

    li {


      list-style-image: var(--theme-bullet-image);

      &:last-child {
        margin-bottom: 20px;
      }

    }


  }

}


.warningMessageDiv {
  display: flex;
  align-items: center;
  margin-top: 2rem;

  h2 {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: -0.3px;
    line-height: 1.5;
    margin: 0 0 0 0.5rem;

  }
}

.tags {
  display: flex;
  gap: 5px;
  width: 100%;
  margin: 5rem 0 5rem 0;
  flex-wrap: wrap;

  span {
    font-size: 0.9rem;
    font-weight: 450;
    line-height: 1.9;
    color: var(--theme-mild-text-color);
    border: solid 1px var(--theme-mild-text-color);
    background: var(--mild-backing);
    padding: 0 5px;
    border-radius: 3.5px;


  }


}

.postBody {
  margin-bottom: 300px;

  p {
    font-size: 1.1rem;
    font-weight: 450;
    line-height: 1.9;
    margin: 3.5rem 0 1rem 0;
    color: var(--theme-post-text-color);
  }
}
