@import '@/styles/main';

.wrapper {
  margin-top: 150px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

$photo-size: 100px;

.photo {
  position: relative;
  width: $photo-size;
  height: $photo-size;
  background-image: url("/images/profile1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 50%;
  //background-color: #b05444;
}

.bioGroup {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  //border: red solid 1px;
}

.bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;

  color: var(--theme-text-color);

  h2 {
    font-size: 18px;
    font-weight: 700;
  }

  text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
  }

}

.buttonsGroup {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 15px;

  //width: 100%;

  button {
    @include button-dark-lg();
  }

  .icon {
    width: 20px;
    height: 20px;
    fill: var(--theme-text-color);
  }
}

.description {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -1px;
  opacity: 0.7;
    color: var(--theme-text-color);
}