@import '@/styles/main';

.wrapper {
  margin-top: 150px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

$photo-size: 80px;

.photo {
  position: relative;
  width: $photo-size;
  height: $photo-size;
  background-image: url("/images/profile1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 50%;
  //background-color: #b05444;
}

.bioGroup {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  color: var(--theme-text-color);

  width: 400px;

  gap: 5px;

  h2 {
    font-size: 18px;
    font-weight: 700;
  }

  text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
  }
}

.buttonsGroup {
  display: flex;
  flex-direction: row;
  gap: 20px;

  width: 100%;

  button {
    @include button()
  }
}