@import '@/styles/main';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;
  max-width: var(--max-width);
  margin-top: 100px;

  $photo-size: 100px;

  .scrollReference {
    position: absolute;
    top: -100px;
  }

  .photo {
    position: relative;
    width: $photo-size;
    height: $photo-size;
    background-image: url("/images/profile1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;

    //background-color: #b05444;
  }

  .bioGroup {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;

    //border: red solid 1px;
  }

  .bio {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    justify-content: center;
    color: var(--theme-text-color);

    h2 {
      font-weight: 700;
      font-size: 18px;
    }

    text {
      font-weight: 400;
      font-size: 16px;
      line-height: 1;
    }

  }

  .buttonsGroup {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 10px;

    //width: 100%;

    button {
      @include button-dark-lg;
    }

    .icon {
      width: 20px;
      height: 20px;
      fill: var(--theme-text-color);
    }
  }

  .description {
    width: 80%;
    color: var(--theme-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 3rem;
    letter-spacing: -1px;

    a {
      color: var(--theme-accent);
      text-decoration: none;
      transition: color 0.2s ease-out;

      &:hover {
        color: var(--theme-accent-hover);
      }
    }
  }

  @include media(medium) {
    .description {
      font-size: 30px;
      line-height: 150%;
    }
  }

  @include media(tablet) {
    .description {
      font-size: 26px;
      line-height: 130%;
      text-align: center;
    }
  }
}
